.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.items .item {
  background-color: white;
  align-items: center;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  padding: 1.5rem;
  border-radius: 1rem;
}
.items .item img {
  width: 70px;
  margin-right: 1rem;
  color: white;
}
.items .item h4 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #242473;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}
.items .item p {
  color: #5f5f5f;
  font-family: "Josefin Sans", sans-serif;
}




@media screen and (max-width: 1000px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
