.register {
  width: 100vw;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(11, 18, 230);
  background: linear-gradient(80deg, rgb(67, 74, 255) 0%, rgb(19, 244, 252) 100%);
}


.register form {
    margin-top: 5rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  /* background-color: white; */
  background: rgb(103,89,255);
  background: linear-gradient(168deg, rgba(103,89,255,1) 0%, rgba(38,239,245,1) 100%);
  padding: 1.5rem;
  /* width: 50%; */
  margin-bottom: 2rem;
}
.register form h2 {
  text-align: center;
}
.register form .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 0 0; 
  /* margin-bottom: 1rem; */
}

.register form .input-group .re-input{
    width: 100%;
    margin: .5rem 0;
    padding: .4rem 0 .4rem .9rem;
    border: 2px solid transparent;
    /* border-radius: .5rem; */
}

@media screen and  (min-width:800px ) {
  
  .register form {width: 60%;}
}
@media screen and  (min-width:1000px ) {
  
  .register form {width: 40%;}
}